.price {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .price__header {
    display: flex;
    gap: 12px;
    .price__value {
      font-size: 36px;
      color: #000;
      font-weight: 700;
    }
    .price__value--discounted {
      font-size: 24px;
      color: gray;
      font-weight: 700;
      text-decoration: line-through;
    }
  }
}

.price__list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .price__item__label {
    font-size: 14px;
    color: gray;
    font-weight: 400;
  }
  .price__item__value {
    font-size: 14px;
    color: #000;
    font-weight: 400;
  }
}
