.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.75rem;
}
.contact .contact__info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contact .contact__info__avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  background-image: url(./owner.png);
  background-size: cover;
}
.contact .contact__info__name {
  font-size: 1.1rem;
  font-weight: 400;
}
.contact .contact__info__name .contact__info__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.8rem;
}
.contact .contact__info__name .contact__info__list .contact__info__text {
  font-size: 1rem;
  font-weight: 400;
  color: #828282;
}
.contact .contact__info__name .contact__info__list .contact__info__text:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #828282;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}